.sixteen.columns
  %h1.remove-bottom{:style => "margin-top: 40px"} Nom Roulette
  %hr/
  %h2#text
  %hr/
  #infoBox
.four.columns
  &nbsp;
.eight.columns
  #map
.four.columns
  &nbsp;
.sixteen.columns
  %hr
  %p Revision #{ %x[git rev-parse HEAD] }
  - unless Frank.exporting?
    %p Size #{ %x[du -sk www.zip] }
  %script{:type => 'template', :id => "info"}
    %ul
      %li 
        %strong \#{ this.name }
      %li \#{ this.formatted_address }
      %li \#{ this.formatted_phone_number }
      %li 
        %a{:href => "\#{ this.url }"}
          Place Page
